<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerrychain Queue</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>Gerrychain Queue</h1>
    <nav>
      <a href="{{url_for('frontend.new')}}">Create new run</a>
    </nav>
  </header>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for run in runs %}
      <tr>
        <td><a href="{{run.href}}">{{run.id[:8]}}</a></td>
        <td>{{run.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>