<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a new run | Gerrychain Queue</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>Create a new run</h1>
    <nav>
      <a href="{{url_for('frontend.home')}}">Back to queue</a>
    </nav>
  </header>
  <form action="{{url_for('frontend.post_new')}}" method="post">
    <div>
      <label for="state">State</label>
      <select id="state" name="state">
        <option value="pa">Pennsylvania</option>
      </select>
    </div>
    <div>
      <label for="plan">Plan</label>
      <select id="plan" name="plan">
        <option value="2011_plan">2011 Plan</option>
        <option value="Remedial_p">Enacted Plan</option>
        <option value="TS">TS Plan</option>
        <option value="GOV">Governor's Plan</option>
        <!--        <option value="8thgrade_p">8th Graders' Plan</option>
        <option value="538cpct_pl">538 Compact Plan</option>
        <option value="538_dem_pl">538 Democratic-Favoring Plan</option> -->
        <option value="538_GOP_pl">538 Republican-Favoring Plan</option>
      </select>
    </div>
    <div>
      <label for="steps">Total Steps</label>
      <input type="number" name="steps" id="steps" required>
    </div>
    <input type="submit" value="Create run">

  </form>
</body>

</html>